.container{
    width: 200px;
    height: 150px;
    text-align: center;
    padding: 30px;   
   
}

#heading{
    font-size: 1.5em;
}

span{
    font-size: 1em;
}

typingSpeed
{
   font-size: 2em; 
   margin-bottom: 0;
}

#clear-btn
{
    display:block;
    margin: auto;
    margin-top: 20px;
    
}

